* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

/* header */
.header_container {
    background-color: #e9eefb;
    display: flex;
    justify-content: center;
}

.header_container .title {
    padding: 3%;
}

/* news */
.main_container {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box {
    background-color:  #c7e0f4 ;
    height: 100%;
    border: 0.3px solid black;
    border-radius: 1%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 50%;
    padding-bottom: 3%;
}

h2{
    text-align: center;
}
p {
    text-align: left;
}
h4 {
    text-align: right;
    margin-bottom: 5%;

}

span {
    color: green;
}